.container {
    display: flex;
    flex-direction: column;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}
.about-logo {
    width: 155px;
    height: 62px;

}
.about-header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 70px;
}
.about-header-wrapper {
    display: flex;
    flex-direction: column;
}
.about-header-text-wrapper {
    display: flex;
}
.about-langs__txt {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.2;
    color: #B3B3BA;
}
.about-heder-info {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.2;
    color: white;
}
.about-tel {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #B3B3BA;
    text-decoration: none;
}
.about-nav-list {
    display: flex;
    justify-content: end;
    gap: 15px;
}
.about-header-info {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;

}
.about-heder-txt {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #B3B3BA;
}
.about-nav-list {
    display: flex;
    justify-content: end;
    gap: 15px;
}
.about-nav-list__link {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    color: #24A3FF;
    text-decoration: none;
    @include text-body;
}
.about-nav-list__link-selected {
    color: #F0145A;
    text-decoration: underline;
}
.header-link__about {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 3.8rem;
    line-height: 1.18;
    color: #323264;
    text-align: center;
}
.about-logo__slash {
    padding-left: 4px;
    padding-right: 4px;
}
.about-logo__symbslash {
    width: 48px;
    height: 47px;
    padding-left: 4px;
}
.about-txt__primary {
    @include text-head;
    color: #F0145A;
    margin-bottom: 20px;
}
.about-txt__secondary {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.1rem;
    line-height: 1.4;
    color: #000000; 
    margin-bottom: 20px;
}
.about-hero-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.about-hero-content__wrapper {
    width: 1095px;
    margin-left: auto;
    margin-right: auto;
}
.about-hero-content__txt {
    border-right: solid 4px #E6E6F0;
    padding-right: 42px;
}
.about-achivments {
    padding-left: 30px;
}
.achivments-logo {
    margin-bottom: 10px;
}
.achivments-txt {
    @include text-body;
    color: #323264;
}