.our-team {
    background-image: url(../pics/pic_team.png);
    background-size: cover;
    height: 438px;
    margin-top: 100px;
    margin-bottom: 80px;
    position: relative;
}
.team-txt {
    font-family: Roboto;
    font-weight: 700;
    font-style: bold;
    font-size: 9.6rem;
    line-height: 1.18;
    color: #FFFFFF; 
    text-transform: uppercase;
    letter-spacing: 63px;
    text-align: center;
    opacity: 0.9;
    position: absolute;
    top: 163px;
    left: 340px;
}

