.cases-content {
    display: grid;
    grid-template-columns: 24.24fr 5.56fr 25.75fr 5.56fr 32.75;
    grid-template-rows: 12.5 fr 43.7fr 47.3fr;
    gap: 3px;
}
.cases-content-title {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #F5F5FA;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 5px;
}
.title-caps--colored {
    color: #F0145A;
}
.Hillel {
    grid-area: 2 / 1 / 3 / 3;
    background-color: #F5F5FA;
    padding-bottom: 20px;
}
.WannaBiz {
    grid-area: 1 / 3 / 3 / 5;
    background-color: #F5F5FA;
    padding-top: 20px;
    padding-bottom: 20px;
}
.tapgerine {
    grid-area: 1 / 5 / 3 / 6;
    background-color: #F5F5FA;
    border-top-right-radius: 5px;
    padding-bottom: 20px;
}
.dlook {
    grid-area: 3 / 1 / 4 / 2;
    background-color: #F5F5FA;
    padding-bottom: 20px;
    border-bottom-left-radius: 5px;
}
.adtelligent {
    grid-area: 3 / 2 / 4 / 4;
    background-color: #F5F5FA;
    padding-top: 20px;
}
.Clikky {
    grid-area: 3 / 4 / 4 / 6; 
    background-color: #F5F5FA;
    padding-top: 20px;
    border-bottom-right-radius: 5px;
}
.listitem__txt {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    color: #686887;
    margin-top: 48px;
    margin-left: 20px;
    margin-bottom: 20px;
    @include text-subheader; 
}
.listitem__link {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.4;
    color: #B3B3BA;
    margin-left: 20px;
    margin-bottom: 20px;
}
