.cases-content {
    display: grid;
    grid-template-columns: 24.24fr 5.56fr 25.75fr 5.56fr 32.75;
    grid-template-rows: 12.5 fr 43.7fr 47.3fr;
    gap: 2px;
    border-radius: 5px;
}
.cases-content-title {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #F5F5FA;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.title-caps--colored {
    color: #F0145A;
}
.Hillel {
    grid-area: 2 / 1 / 3 / 3;
    background-color: #F5F5FA;
}
.WannaBiz {
    grid-area: 1 / 3 / 3 / 5;
    background-color: #F5F5FA;
}
.tapgerine {
    grid-area: 1 / 5 / 3 / 6;
    background-color: #F5F5FA;
}
.3dlook {
    grid-area: 3 / 1 / 4 / 2;
    background-color: #F5F5FA;
}
.adtelligent {
    grid-area: 3 / 2 / 4 / 4;
    background-color: #F5F5FA;
}
.Clikky {
    grid-area: 3 / 4 / 4 / 6; 
    background-color: #F5F5FA;
}
